@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.main {
  margin: 50px;
}

.headerBO {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.headerBO h1 {
  font-size: 32px;
  letter-spacing: -1.2px;
  font-family: "DM Sans";
  color: #fff;
}

.headerBO button {
  background: -webkit-linear-gradient(bottom left, #171717 5%, #000);
  border: 0.5px solid rgb(140, 110, 251);
  box-shadow: 0 0 55px rgba(140, 110, 251, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-family: "DM Sans";
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: -0.8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.headerBO button:hover {
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.5;
}

.emblemasContainer {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: flex-start;
  margin-top: 25px;
}

.emblemaContainer {
  width: 220px;
  height: 250px;
  background: linear-gradient(to bottom, #000, #333);
  padding: 15px;
  border-radius: 5px;
}

.emblemaContainer img {
  width: 100%;
  height: auto;
}

.emblemaContainer p {
  font-size: 15px;
  letter-spacing: -0.8px;
  color: #8c8c8c;
  font-weight: 500;
  text-align: center;
  font-family: "DM Sans";
  margin-top: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.newEmblemaContainer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 300px;
  border: 5px;
  border: 1px solid #222;
  box-shadow: 0 0 75px rgba(140, 110, 251, 0.05);
  background-color: #111;
  opacity: 0; /* Inicialmente invisível */
  animation: fadeIn 0.5s forwards; /* Aplica a animação de fade-in */
}

.newEmblemaContainer h1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  letter-spacing: -1.2px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "DM Sans";
  margin-bottom: 25px;
  line-height: 110%;
}

.newEmblemaContainer h1 b {
  font-size: 38px;
  text-transform: uppercase;
}

.newEmblemaContainer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.newEmblemaOption {
  width: 170px;
  height: 170px;
  border-bottom: 10px solid #8c8c8c;
  border: 0;
}

.newEmblemaOption img {
  width: 100%;
  border-radius: 100px;
  height: 100%;
}
